# Test data science

##Importation des librairies

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [22]:
#sncf = pd.read_csv("C:/Users/KOUADIO Christiane/Documents/Traitement_données/validations-sncf.csv")

sncf=pd.read_csv('C:/Users/KOUADIO Christiane/Documents/Traitement_données/validations-sncf.csv', sep=';', index_col=0)

In [23]:
# lire l'en-tête du data frame
sncf.reset_index(0, inplace=True)
sncf.head(20)

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,?,93
1,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,AMETHYSTE,322
2,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,NAVIGO JOUR,8
3,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,NON DEFINI,10
4,2019-07-29,100,110.0,728.0,RENNES,73640,NAVIGO,1303
5,2019-07-29,100,110.0,728.0,RENNES,73640,TST,40
6,2019-07-29,100,110.0,729.0,REPUBLIQUE,71311,NON DEFINI,15
7,2019-07-29,100,110.0,729.0,REPUBLIQUE,71311,TST,1824
8,2019-07-29,100,110.0,734.0,REUILLY-DIDEROT,71654,AMETHYSTE,487
9,2019-07-29,100,110.0,734.0,REUILLY-DIDEROT,71654,AUTRE TITRE,106
10,2019-07-29,100,110.0,734.0,REUILLY-DIDEROT,71654,TST,635
11,2019-07-29,100,110.0,736.0,RICHARD LENOIR,73648,?,47
12,2019-07-29,100,110.0,736.0,RICHARD LENOIR,73648,AMETHYSTE,163
13,2019-07-29,100,110.0,736.0,RICHARD LENOIR,73648,NON DEFINI,Moins de 5
14,2019-07-29,100,110.0,737.0,RICHELIEU-DROUOT,71330,?,55
15,2019-07-29,100,110.0,737.0,RICHELIEU-DROUOT,71330,AUTRE TITRE,117
16,2019-07-29,100,110.0,737.0,RICHELIEU-DROUOT,71330,TST,261
17,2019-07-29,100,110.0,739.0,RIQUET,71977,AUTRE TITRE,29
18,2019-07-29,100,110.0,739.0,RIQUET,71977,TST,398
19,2019-07-29,100,110.0,74.0,BILLANCOURT,71034,AMETHYSTE,111

In [24]:
sncf.tail(20)

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
500480,2019-10-07,100,110.0,487.0,MADELEINE,71324,AMETHYSTE,444
500481,2019-10-07,100,110.0,49.0,BARBES-ROCHECHOUART,71426,NAVIGO,13312
500482,2019-10-07,100,110.0,491.0,MAIRIE DE CLICHY,72118,AMETHYSTE,319
500483,2019-10-07,100,110.0,492.0,MAIRIE DE MONTREUIL,71785,NON DEFINI,492
500484,2019-10-07,100,110.0,493.0,MAIRIE DE SAINT-OUEN,72168,AMETHYSTE,317
500485,2019-10-07,100,110.0,493.0,MAIRIE DE SAINT-OUEN,72168,AUTRE TITRE,112
500486,2019-10-07,100,110.0,493.0,MAIRIE DE SAINT-OUEN,72168,FGT,645
500487,2019-10-07,100,110.0,493.0,MAIRIE DE SAINT-OUEN,72168,IMAGINE R,1423
500488,2019-10-07,100,110.0,494.0,MAIRIE DES LILAS,71909,?,105
500489,2019-10-07,100,110.0,494.0,MAIRIE DES LILAS,71909,AMETHYSTE,250
500490,2019-10-07,100,110.0,494.0,MAIRIE DES LILAS,71909,IMAGINE R,1883
500491,2019-10-07,100,110.0,495.0,MAIRIE D'ISSY,70671,?,144
500492,2019-10-07,100,110.0,495.0,MAIRIE D'ISSY,70671,NAVIGO JOUR,10
500493,2019-10-07,100,110.0,496.0,MAIRIE D'IVRY,70488,?,112
500494,2019-10-07,100,110.0,496.0,MAIRIE D'IVRY,70488,NAVIGO,5886
500495,2019-10-07,100,110.0,496.0,MAIRIE D'IVRY,70488,NON DEFINI,137
500496,2019-10-07,100,110.0,497.0,MAISON BLANCHE,70645,IMAGINE R,1285
500497,2019-10-07,100,110.0,499.0,MAISONS-ALFORT-LES JUILLIOTTES,70358,IMAGINE R,1201
500498,2019-10-07,100,110.0,500.0,MAISONS-ALFORT-STADE,70426,IMAGINE R,1054
500499,2019-10-07,100,110.0,500.0,MAISONS-ALFORT-STADE,70426,NAVIGO,3386

In [25]:
# faire le point sur les variables et les observations
sncf.shape

(500500, 8)

In [26]:
sncf.dtypes

JOUR                object
CODE_STIF_TRNS       int64
CODE_STIF_RES      float64
CODE_STIF_ARRET    float64
LIBELLE_ARRET       object
ID_REFA_LDA         object
CATEGORIE_TITRE     object
NB_VALD             object
dtype: object

In [27]:
# Vérifier les données manquantes
sncf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500500 entries, 0 to 500499
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   JOUR             500500 non-null  object
 1   CODE_STIF_TRNS   500500 non-null  int64
 2   CODE_STIF_RES    499609 non-null  float64
 3   CODE_STIF_ARRET  499609 non-null  float64
 4   LIBELLE_ARRET    500500 non-null  object
 5   ID_REFA_LDA      499630 non-null  object
 6   CATEGORIE_TITRE  500500 non-null  object
 7   NB_VALD          500500 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 30.5+ MB

In [28]:
# Nombre total de valeurs manquantes pour les différentes séries
print(sncf.isnull().sum())

JOUR                 0
CODE_STIF_TRNS       0
CODE_STIF_RES      891
CODE_STIF_ARRET    891
LIBELLE_ARRET        0
ID_REFA_LDA        870
CATEGORIE_TITRE      0
NB_VALD              0
dtype: int64

In [29]:
# Description des statistiques sur le contenu de chaque colonne
sncf.describe(include='all')

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
count,500500,500500.000000,499609.000000,499609.000000,500500,499630,500500,500500
unique,101,NaN,NaN,NaN,677,667,9,14360
top,2019-09-30,NaN,NaN,NaN,GARE DE LYON,?,NAVIGO,Moins de 5
freq,5442,NaN,NaN,NaN,2577,8921,67434,70996
mean,NaN,433.236943,451.943782,494.984942,NaN,NaN,NaN,NaN
std,NaN,350.056287,358.988704,311.939902,NaN,NaN,NaN,NaN
min,NaN,100.000000,110.000000,1.000000,NaN,NaN,NaN,NaN
25%,NaN,100.000000,110.000000,236.000000,NaN,NaN,NaN,NaN
50%,NaN,100.000000,110.000000,491.000000,NaN,NaN,NaN,NaN
75%,NaN,800.000000,805.000000,728.000000,NaN,NaN,NaN,NaN
max,NaN,810.000000,854.000000,2211.000000,NaN,NaN,NaN,NaN

#### Q1) Les 20 premiers arrêts en terme de validation

In [30]:
# pour répondre à cette question nous allons nous intéresser aux series LIBELLE_ARRET et NB_VALID
#comptage des valeurs
print(sncf['LIBELLE_ARRET'].value_counts())

GARE DE LYON                       2577
LA DEFENSE-GRANDE ARCHE            2570
GARE DU NORD                       1711
PORTE MAILLOT                      1700
GARE DE L'EST                      1700
                                   ...
SANTEUIL-LE-PERCHAY                 162
SAINT-GERMAIN-BEL-AIR-FOURQUEUX      17
SAINT-GERMAIN-GRANDE-CEINTURE        12
MAREIL-MARLY                         11
NOISY-LE-ROI                         10
Name: LIBELLE_ARRET, Length: 677, dtype: int64

In [31]:
print(sncf['NB_VALD'].value_counts())

Moins de 5    70996
5              9154
6              7523
7              6311
8              5633
              ...
22977             1
17838             1
27629             1
8601              1
11985             1
Name: NB_VALD, Length: 14360, dtype: int64

In [32]:
#avant nous allons préparer la variable NB_VALID qui comporte des 'Moins de 5' sur certaines lignes
# Identifier les lignes sur lesquelles on a des 'Moins de 5'
print(sncf['NB_VALD']=="Moins de 5")

0         False
1         False
2         False
3         False
4         False
          ...
500495    False
500496    False
500497    False
500498    False
500499    False
Name: NB_VALD, Length: 500500, dtype: bool

In [33]:
sncf['NB_VALD'][0:15]

0             93
1            322
2              8
3             10
4           1303
5             40
6             15
7           1824
8            487
9            106
10           635
11            47
12           163
13    Moins de 5
14            55
Name: NB_VALD, dtype: object

In [34]:
print((sncf['NB_VALD']=="Moins de 5").value_counts())

False    429504
True      70996
Name: NB_VALD, dtype: int64

In [35]:
# remplacer cette colonne modifiée "NB_VALD" dans le data frame  de basen sncf 
sncf['NB_VALD']=sncf['NB_VALD'].replace(["Moins de 5"], "4")
sncf['NB_VALD'].head(16)

0       93
1      322
2        8
3       10
4     1303
5       40
6       15
7     1824
8      487
9      106
10     635
11      47
12     163
13       4
14      55
15     117
Name: NB_VALD, dtype: object

In [36]:
#Sélectionner certaines colonne de notre data frame
sncf_split=sncf[['JOUR','LIBELLE_ARRET','CATEGORIE_TITRE', 'NB_VALD']]

In [37]:
sncf.head(15)

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,?,93
1,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,AMETHYSTE,322
2,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,NAVIGO JOUR,8
3,2019-07-29,100,110.0,725.0,REAUMUR-SEBASTOPOL,73636,NON DEFINI,10
4,2019-07-29,100,110.0,728.0,RENNES,73640,NAVIGO,1303
5,2019-07-29,100,110.0,728.0,RENNES,73640,TST,40
6,2019-07-29,100,110.0,729.0,REPUBLIQUE,71311,NON DEFINI,15
7,2019-07-29,100,110.0,729.0,REPUBLIQUE,71311,TST,1824
8,2019-07-29,100,110.0,734.0,REUILLY-DIDEROT,71654,AMETHYSTE,487
9,2019-07-29,100,110.0,734.0,REUILLY-DIDEROT,71654,AUTRE TITRE,106
10,2019-07-29,100,110.0,734.0,REUILLY-DIDEROT,71654,TST,635
11,2019-07-29,100,110.0,736.0,RICHARD LENOIR,73648,?,47
12,2019-07-29,100,110.0,736.0,RICHARD LENOIR,73648,AMETHYSTE,163
13,2019-07-29,100,110.0,736.0,RICHARD LENOIR,73648,NON DEFINI,4
14,2019-07-29,100,110.0,737.0,RICHELIEU-DROUOT,71330,?,55

In [38]:
# regrouper la sommes du nombre de validation par arrêt
sncf_group=sncf_split.groupby(['LIBELLE_ARRET']).sum()
#Ranger par ordre décroissant le nombre de valisation par arrêt
#sncf_ordered=sncf_group.sort_values(by = 'NB_VALD', ascending = False)[0:20]
#indexer mon nouveau dataframe pour faciliter le traitement
#sncf_ordered.reset_index(0, inplace=True)
#print(sncf_ordered)
print(sncf_group)

                                                                           JOUR  \
LIBELLE_ARRET
ABBESSES                      2019-07-302019-07-302019-07-302019-07-312019-0...
ABLON                         2019-07-292019-07-302019-07-302019-07-302019-0...
ACHERES-GRAND-CORMIER         2019-07-292019-08-132019-08-132019-08-152019-0...
ACHERES-VILLE                 2019-07-292019-07-302019-07-302019-07-252019-0...
AEROPORT CHARLES DE GAULLE 1  2019-07-292019-07-302019-07-252019-07-252019-0...
...                                                                         ...
VOLTAIRE (LEON BLUM)          2019-07-292019-07-292019-07-302019-07-262019-0...
VOSVES                        2019-07-262019-08-142019-08-152019-08-162019-0...
VULAINES-SUR-SEINE-SAMOREAU   2019-07-292019-08-132019-08-142019-08-162019-0...
WAGRAM                        2019-07-292019-07-292019-07-292019-07-302019-0...
YERRES                        2019-07-262019-07-262019-08-142019-08-152019-0...

                                                                CATEGORIE_TITRE  \
LIBELLE_ARRET
ABBESSES                      AUTRE TITRENAVIGO JOURTSTNON DEFINIIMAGINE RNO...
ABLON                         AMETHYSTEAMETHYSTEIMAGINE RNAVIGONAVIGOIMAGINE...
ACHERES-GRAND-CORMIER         TST?TSTTSTAMETHYSTEIMAGINE RNAVIGOFGTNAVIGOTST...
ACHERES-VILLE                 TSTFGTTSTIMAGINE RIMAGINE RNAVIGONAVIGOAMETHYS...
AEROPORT CHARLES DE GAULLE 1  FGTNAVIGO JOURAMETHYSTEFGTFGTIMAGINE R?FGTIMAG...
...                                                                         ...
VOLTAIRE (LEON BLUM)          ?AUTRE TITREAUTRE TITRE?NAVIGONON DEFINIAUTRE ...
VOSVES                        IMAGINE RIMAGINE RNAVIGOAMETHYSTENAVIGOAMETHYS...
VULAINES-SUR-SEINE-SAMOREAU   AMETHYSTEIMAGINE RNAVIGO JOUR?IMAGINE RNAVIGOT...
WAGRAM                        ?NAVIGONAVIGO JOUR?FGTTSTAMETHYSTEAUTRE TITREI...
YERRES                        AMETHYSTETSTAMETHYSTEAMETHYSTE?FGTIMAGINE RNAV...

                                                                        NB_VALD
LIBELLE_ARRET
ABBESSES                      3445243757222707460301046441416373618851464402...
ABLON                         2130123798737129764524136244522938293448310044...
ACHERES-GRAND-CORMIER         9410544124504744441575554644607174444684643347...
ACHERES-VILLE                 3371303104823332444109739111125342708339438415...
AEROPORT CHARLES DE GAULLE 1  1821442156169520832748335830433363306947214722...
...                                                                         ...
VOLTAIRE (LEON BLUM)          6071786483404853656427149455226144753964818123...
VOSVES                        4444214544591544584474444449415410444445442144...
VULAINES-SUR-SEINE-SAMOREAU   4644474449441744446472254844162644444334444449...
WAGRAM                        1839906201021677559673236473429404212357046391...
YERRES                        7617581404310416736271746524818774361434344108...

[677 rows x 3 columns]

#### Q2) Une illustraion graphique de ce classement

In [39]:
#valeur située en dernière ligne, première colonne
#utilisation de l'indiçage négatif
print(sncf.iloc[-1,0])

2019-10-07

In [40]:
plt.figure(figsize=(10,6))
sns.barplot(sncf_ordered['LIBELLE_ARRET'], sncf_ordered['NB_VALD'], palette="Reds_r")
plt.xlabel('\nLibellés Arrêts', fontsize=15, color='#c0392b')
plt.ylabel("Nombre de validation\n", fontsize=15, color='#c0392b')
plt.title("Nombre de validation par arrêts Sncf\n", fontsize=18, color='#e74c3c')
plt.xticks(rotation= 45)
plt.tight_layout()

NameError: name 'sncf_ordered' is not defined

#### Q3) Classification des arrêts en se basant sur le nombre de validations par titre de transport

In [ ]:
# Afficher la colonnes "CATEGORIE_TITRE"
sncf_split[250:780]

In [ ]:
# Déterminer le mode sur cette serie qualitatve
sncf_split["CATEGORIE_TITRE"].describe()

In [ ]:
# Remplacer les '?' par 'NAVIGO' le mode de la serie "CATEGORIE_TITRE"
# réeinitialiser le data frame avec la serie "CATEGORIE_TITRE" corrigée
sncf["CATEGORIE_TITRE"]=sncf["CATEGORIE_TITRE"].replace(['?'], 'NAVIGO')
sncf_split=sncf[['JOUR','LIBELLE_ARRET','CATEGORIE_TITRE', 'NB_VALD']]
# vérification du remplacement des '?'
sncf_split["CATEGORIE_TITRE"][250:780]

In [ ]:
#libbélé des arrêts par nombre de validation par catégorie de titre de transport
classif=sncf_split.groupby([ "CATEGORIE_TITRE","LIBELLE_ARRET"]).sum()

In [ ]:
classif.shape

In [ ]:
classif.reset_index(0, inplace=True)
print(classif)

In [ ]:
#plt.scatter(['LIBELLE_ARRET'], ['NB_VALD'], color='#c0392b')
#plt.scatter(x=classif_r['LIBELLE_ARRET'], y=classif_r['NB_VALD'], color='#e74c3c')
plt.scatter(x=classif['LIBELLE_ARRET'], y=classif['NB_VALD'], c='blue', alpha=0.5, s=30 )
#plt.scatter(x, y, s=area, c=colors, alpha=0.5)